@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: black;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header{
    position: relative;
    z-index: 3;
    padding: 0 7%;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.main {
    position: relative;
    padding: 0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.paragraph {
    flex: 1;
    max-width: 35%;
    color: rgb(255, 255, 255);
    position:relative;
    z-index: 2;
    font-size: 1vw;
    padding-left: 30px;
}

.renders{
    opacity: .9;
    transform: scale(1.5);
    flex: 1;
    max-width: 100%;
    position:relative;
    z-index: 1;
}

.renders img {
    height: auto; /* Maintains aspect ratio */
    max-width: 100%; /* Image takes up to 100% of the .renders width */  
}

nav{
    padding-top:  20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 25vw;
    height: auto;
    /*cursor: pointer;*/
    padding-left: 7%;
}

nav .btn{
    letter-spacing: .2em;
    transition: all .2s ease-in-out;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding-top: .7vw; /* Example: Adjust as needed */
    padding-bottom: .7vw;
    padding-right: 2.1vw;
    padding-left: 2.1vw;
    border-radius: 5vw; /* Example: Adjust as needed */
    float: right;
    margin-right: 7%; /* Example: Adjust as needed */
    font-size: 1.0vw; /* Example: Adjust as needed */

}
nav .btn:hover{
    color: rgba(255, 255, 255, 0.315);
    border-color: rgba(255, 255, 255, 0.315);
}

.info{
    width: 100%;
    padding: 0 7%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 1;
}
.info div{
    margin: 0 20px;
}
.info iv h2{
    font-size: 44px;
    font-weight: 600;
}

.info .line{
    flex: 1;
    background: #fff;
    height: 4px;
}



.red {
    color: rgb(215, 5, 5);
}

.patent {
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    *{
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main {
        flex-direction: column; /* Stack elements vertically */
        justify-content: center;
        align-items: center; /* Stretch elements to fill the width */
        padding: 0 2%; /* Adjust padding for smaller screens */
        min-height: 100vh; /* Minimum height of the viewport */
        height: auto;
        /* Other adjustments for mobile as needed */
    }

    .main .paragraph {
        margin-bottom: 10px;
    }

    .main > *{
        flex: 1;
    }

    .paragraph{
        margin-top: 90px;
        font-size: 2.3vw;
        max-width: 80%;
        overflow: hidden;
        margin-bottom: -400px;
        margin-left: 10px;
        text-align: left;
    }
    .renders{
        overflow: hidden;
    }

    .logo {
        width: 40vw;
    }
    
    nav .btn{
        letter-spacing: .2em;
        transition: all .2s ease-in-out;
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        padding-top: .7vw; /* Example: Adjust as needed */
        padding-bottom: .7vw;
        padding-right: 2.5vw;
        padding-left: 2.5vw;
        border-radius: 6vw; /* Example: Adjust as needed */
        float: right;
        margin-right: 10%; /* Example: Adjust as needed */
        font-size: 2.0vw; /* Example: Adjust as needed */
    }

    .info {
        position: static;
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 20px;
    }

    .header{
        transition: opacity 0.5s ease-in-out;

    }
}
